tr:hover {
    cursor: pointer;
}
    
tr .table-row-as-link-full-text {
    display: none;
}
    
/* tr:hover .table-row-as-link-short-text {
    display: none;
}
    
tr:hover .table-row-as-link-full-text {
    display: inherit;
} */