
.loading {
  width: min-content;
  margin: calc((100vh - 2em - 30vh) / 2) auto 0 auto;
  font-size: 2em;
}

.edit-page {
  min-width: 700px;

  /**
   * This is necessary due to a wonderful serious of unfortunate events.
   * In MUI Controls, the made a tradeoff in the width of label elements in
   * different states. In the unfilled, unfocused state, the width of the label
   * element is set to 100%. However, when the state becomes filled or focused,
   * then a CSS transform takes place with a scale(0.75). This makes the width
   * of the label element effectively 75%. See URL.
   *
   * JSONForms (prior to any of the discussions in MUI Controls) "fixed" this
   * issue be forcing the width of the label element to 125% (It actually 
   * should have been 133.33% but that's an unsuprising mistake. Fractions
   * are difficult). So when it was transformed became the "full" width of the
   * containing element (once again, not quite because fractions). However,
   * this introduces an issue in which the label element can extend beyond
   * the containing element causing a horizontal scroll bar to appear. The 
   * examples provided by JSONForms don't result in this issue being found.
   *
   * There's an "easy" solution which is to just hide the scrollbar on
   * overflow, which CSS supports. However, another issue comes up. Control
   * Groups in the UI Schema have a slight border that is snipped with just
   * hiding overflow. This is fixed with the left/right padding.
   */
  padding: 0 2px;
  overflow-x: hidden;
}


/* To make the array of objects display table more dense */
.edit-page table td {
  /* padding: 4px 10px 4px 10px !important; */
}

input, textarea {
  font-size: 0.9rem !important;
}
